# Build directories
build/
bin/
.gradle/

# IDE files
.idea/
*.iml
.vscode/

# Logs
*.log

# Environment files
.env

# Node modules
node_modules/

# Compiled files
*.class

credentials.json
token.json
SendEmailServlet.java
target/ 
