<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
         version="3.0">

    <display-name>Driver Log Application</display-name>

    <!-- Servlet Configuration -->
    <servlet>
        <servlet-name>SendEmail</servlet-name>
        <servlet-class>logme2.SendEmailServlet</servlet-class> <!-- Make sure this matches the correct package -->
    </servlet>

    <!-- Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>SendEmail</servlet-name>
        <url-pattern>/send-email</url-pattern>
    </servlet-mapping>

    <!-- Welcome File List -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
